@font-face {
    font-family: funnel;
    src: url(../fonts/FunnelDisplay-VariableFont_wght.ttf);
}

:root {
    /* base dimensions */

    --content-default-margin-top: 1vw;

    /* colors */

    --background-color-primary: #000000;
    --background-color-secondary: #f3f3f3;

    --almost-black: #2e2e2e;
    --dark-grey: #363636;
    --almost-grey: #a1a1a1;
    --blurple: rgb(71, 120, 255);
    /*81, 50, 255 */
}

body {
    font-family: funnel;
    background-color: var(--background-color-primary);
    /*padding-top: 0.7rem;*/
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

pre {
    font-size: 1vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.navGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navGrid img {
    width: 1vw;
    margin-right: 2vw;
}

.navButton {
    width: fit-content;
    margin-right: 1.5vw;
    height: 2.1vw;
    display: flex;
    border: none;
    background: transparent;
    color: var(--almost-black);
    opacity: 0.9;
    font-size: 0.75vw;
    font-weight: 400;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: funnel;
    color: white;

    cursor: pointer;
}

#activeNavButton {
    font-weight: bold;
}

/*   */

.mediaCategory {
    color: white;
    font-size: 0.55vw;
    position: relative;
    padding-left: 2.5vw;
    margin-bottom: 2vw;
    margin-top: 3vw;
}

.mediaItems img{
    border-radius: 5px;
    width: 20vw;
    height: 11vw;
    margin-right: 1vw;
    opacity: 0.8;
    object-fit: fill;
}

/*   */

.customFooter {
    position: relative;
    color: white;
    opacity: 0.5;
    padding-left: 2.5vw;
    padding-bottom: 1vw;
    font-size: 0.7vw;
    top: 100%;
}

